.form {
  display: block;
  padding: 15px;
  position: relative;
  margin: 25px auto 0;
  max-width: 350px;
  border: 2px solid orange;
}
.inputWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.submit {
  margin-top: 10px;
}
